@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.action-div {
  text-align: center;
  padding: 40px 20px;
  background-color: white; 
}

.action-div h1 {
  margin-bottom: 30px; 
  font-size: 2.5rem; 
  color: black; 
}

.action-items {
  display: flex; 
  justify-content: center; 
  gap: 64px;
  flex-wrap: wrap; 
  cursor: pointer;
}

.action-item {
  flex: 1;
  max-width: 300px; 
  text-align: center; 
  transition: transform 0.3s ease; 
}

.action-item:hover {
  transform: scale(1.05);
}


.action-item img {
  width: 100%; 
  height: auto; 
  display: block; 
  margin-bottom: 10px; 
}

/* Text styling */
.action-item h3, .action-item p {
  transition: color 0.3s ease;
}

.action-item:hover h3, .action-item:hover p {
  color: #470176; 
}
.action-item h3{
  color: #000;
}

  .btn {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
    display: block;
    margin-top: 5vw;
}

.btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #750ada;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.btn span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #000000;
    transition: color 0.3s ease; /* Smooth transition for text color */
}

.btn svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000000;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.btn:hover:before {
    width: 100%;
    background: #750ada;
}

.btn:hover span {
    color: #ffffff; /* Change text color to black */
}

.btn:hover svg {
    transform: translateX(0);
    stroke: #ffffff; /* Change SVG stroke color to black */
}

.btn:active {
    transform: scale(0.95);
}

