
.footer {
    background-image: url('./footer-bg.png'); 
    background-size: cover; 
    background-position: center; 
    padding: 40px 20px; 
    color: #ffffff; 
    height: 31vw;
  }
  
.footer-links{
    display: flex;
    width: 100%;
    gap: 76%;
}
.links{
    list-style-type: none;
    display: flex;
    gap: 20%;
    width: 97%;
}
.line{
    height: 1px;
    background-color: #4d4d4d;
    margin: 0 auto;
    margin-left: 39px;
}
.line::before{
    left: 0;
    bottom: 0;
    content: "";
    height: 10px;
    position: absolute;
    width: 50px;
}


.footer * {
    color: #b3b3b3;
    fill: #b3b3b3; 
    text-decoration: none; 
    transition: color 0.3s, fill 0.3s; 
    cursor: pointer; 
  }
  
 
  .footer *:hover {
    color: #750ada;
    fill: #750ada;  
  }
  
 
  .footer a,
  .footer svg {
    color: #b3b3b3; 
    fill: #b3b3b3;  
    text-decoration: none; 
  }
  

  .footer a:hover,
  .footer svg:hover {
    color: #750ada; 
    fill: #750ada;  
  }
  

  .footer div p,
  .footer div svg {
    color: #b3b3b3; 
    fill: #b3b3b3;
    transition: color 0.3s, fill 0.3s;
  }
  

  .footer div p:hover,
  .footer svg:hover {
    color: #750ada;
    fill: #750ada;  
  }
  
  .footer div:hover p,
  .footer div:hover svg {
    color: #750ada; 
    fill: #750ada; 
  }
  