
.footer {
    background-image: url('./footer-bg.jpg'); /* Replace with the path to your background image */
    background-size: cover; /* Cover the entire footer area */
    background-position: center; /* Center the background image */
    padding: 40px 20px; /* Padding around the footer content */
    color: #ffffff; /* Default text color */
    height: 31vw;
  }
  
.footer-links{
    display: flex;
    width: 100%;
    gap: 76%;
}
.links{
    list-style-type: none;
    display: flex;
    gap: 20%;
    width: 97%;
}
.line{
    height: 1px;
    background-color: #4d4d4d;
    margin: 0 auto;
    margin-left: 39px;
}
.line::before{
    left: 0;
    bottom: 0;
    content: "";
    height: 10px;
    position: absolute;
    width: 50px;
}
